*{
    margin: 0;
    padding: 0;
}


.container{
    background-color: aquamarine;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
   
}
.container-flex{
    display: flex;
    padding: 1%;
    align-items: center;
    width: 70%;
}

nav{
    margin-left: 3%;
    width: 98%;   
}

nav ul{
    display: flex;
    justify-content: space-around;
}


nav ul li{
    list-style: none;
}


nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
}

.connexion{
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.connexion a{
    text-decoration: none;
}

.connexion .connect{
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
    margin-right: 20px;
}


.connexion .contact{
    text-transform: capitalize;
    color: #000;
    margin-left: 20px;
    background-color: rgb(255, 187, 0);
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.connexion .contact:hover{
   color: #fff;
   transform: scale(1.2);
}

